

$sidenav-collapsed-width: 5rem;
$sidenav-open-width: 16.5625rem;
$sidenav-background: #263238;
$sidenav-box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
$sidenav-z-index: 2;
$sidenav-position: fixed;
$sidenav-transition: all .5s ease;

$sidenav-logo-container-padding: 0.938rem 0.938rem 0 0.938rem;

$full-height: 100vh;
$full-perc: 100%;
$half-perc: 50%;

$bold-9: 900;
$bold-7: 700;

$size-4: 4px;
$size-24: 24px;
$size-22: 22px;
$size-25: 25px;

$zero-space: 0;
$space-10: 10px;
$space-20: 20px;

$rem-3: 3rem;
$rem-0-313: 0.313rem;
$rem-0-625: 0.625rem;
$rem-2: 2rem;
$rem-0-938: 0.938rem;
$rem-1-5: 1.5rem;
$rem-0-5: 0.5rem;
$rem-0-8: 0.8rem;
$rem-3-65: 3.65rem;

$color-light: #f3f3f3;
$white: #fff;
$black: #000;
$light-grey: #898989;
$light-grey-1: #556268;

$transition-all-3-ease: all .3s ease;