

$sidenav-collapsed-width: 5rem;
$sidenav-open-width: 16.5625rem;
$sidenav-background: #263238;
$sidenav-box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
$sidenav-z-index: 2;
$sidenav-position: fixed;
$sidenav-transition: all .5s ease;

$sidenav-logo-container-padding: 0.938rem 0.938rem 0 0.938rem;

$full-height: 100vh;
$full-perc: 100%;
$half-perc: 50%;

$bold-9: 900;
$bold-7: 700;
$bold-4: 400;

$size-1: 1px;
$size-2: 2px;
$size-3: 3px;
$size-4: 4px;
$size-5: 5px;
$size-8: 8px;
$size-10: 10px;
$size-12: 12px;
$size-14: 14px;
$size-15: 15px;
$size-16: 16px;
$size-17: 17px;
$size-18: 18px;
$size-20: 20px;
$size-24: 24px;
$size-22: 22px;
$size-25: 25px;
$size-42: 42px;
$size-50: 50px;
$size-320: 320px;

$zero-space: 0;
$space-10: 10px;
$space-20: 20px;

$rem-3: 3rem;
$rem-5-75: 5.75rem;
$rem-0-313: 0.313rem;
$rem-0-625: 0.625rem;
$rem-2: 2rem;
$rem-0-938: 0.938rem;
$rem-1: 1rem;
$rem-1-5: 1.5rem;
$rem-0-5: 0.5rem;
$rem-0-8: 0.8rem;
$rem-0-25: 0.25rem;
$rem-3-65: 3.65rem;
$rem-0-813: 0.813rem;
$rem-1-563: 1.563rem;
$rem-2-375: 2.375rem;
$rem-2-5: 2.5rem;
$rem-1-25: 1.25rem;
$rem-1-875: 1.875rem;
$rem-0-47: 0.47rem;
$rem-0-75: 0.75rem;
$rem-0-8125: 0.8125rem;
$rem-10: 10rem;
$rem-0-35: 0.35rem;
$rem-0-6: 0.6rem;

$color-light: #f3f3f3;
$color-light-1: #f4f7fa;
$color-light-2: #f3f3f9;
$color-light-3: #ced4da;
$color-light-4: #eff2f3;
$white: #fff;
$black: #000;
$light-grey: #898989;
$light-grey-0: #bec2c4;
$light-grey-1: #556268;
$light-grey-2: #74788d;
$light-blue: #699dfa;
$dark-grey: #495057;

$transition-all-3-ease: all .3s ease;
$transition-all-5-ease: all .5s ease;